@import "variables.scss";


body{
    background-image: linear-gradient(to right,#15212D, #EEEEEE);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p{
    color: $grey;
    font-size: 1rem;
}

