@import "variables";

.font--white{
    color: $white !important;
}

.display-linebreak{
    white-space: pre-line;
}

.margin{
    &__top{
        &--1rem{
            margin-top: 1rem;
        }
    }
    &__bottom{
        &--4rem{
            margin-bottom: 4rem;
        }
    }
}